@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* CSS Variables
   https://www.w3schools.com/css/css3_variables.asp
*/
:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}


body {
  background-image: url("../images/festival.jpg");
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
}

h1 {
  color: white;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

h3 {
  text-transform: uppercase;
  text-align: center;
}

.anordnung {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  text-decoration: none;
}



a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.textblockweiss {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  margin: 5vh 0;
  padding: 2vh 2vw;
}

.textblockweiss {
  width: 60vw;
  background-color: rgba(256, 256, 256, 0.7);
}

.anmeldebutton {
  border-radius: 17px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 34px;
  text-decoration: none;
  background-color: #523863;
}

.anmeldebutton:hover {
  background: linear-gradient(to bottom, #523863 5%, #9465B3 100%);
  background-color: #523863;
}

.anmeldebutton:active {
  position: relative;
  top: 1px;
}


.form {
  padding: 30px 40px;
}

/* Aufgabe: textarea im form-control designen
*/
/*--Begin */
.form-control {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}
/*--End */

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  /* bottom: 0;*/
  left: 0;
  visibility: hidden;
  font-size: .75rem;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}


